# Python
__pycache__/
*.pyc

# Virtual env
venv/
.venv/

# Environment variables
.env
.env.*

# Temporary files
tmp_*.jpg

# Model weights
comic_text_detector/data/*.onnx
comic_text_detector/data/*.pt

src/images/total_processed/
ocr_results_*.json